.score {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: url('../image/progress_bar/topbar.png');
  background-size: 100%;
  height: 100%;
  font-size: 2rem;

  &__wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 2rem 4rem;

  }

  &__level {
    color: #fff;
    margin-right: 2%;
    font-size: 3rem;
    font-weight: 700;
  }

  &__progress {
    width: 25%;
    height: auto;
    margin-right: 2%;
  }

  &__level-up {
    margin-top: 1%;
  }

  &__money {
    align-self: center;
    font-size: 3rem;
    color: $yellow-color;
  }

}