.score {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: url('../image/progress_bar/topbar.png') no-repeat;
  background-size: cover;
  background-position: top;

  &__wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem .5rem 1rem;

  }

  &__level {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__progress {
    width: 35%;
    margin-left: 2%;
    height: auto;
  }

  &__level-up {
    position: relative;
    margin-left: 2%;
    margin-top: 1%;

  }

  &__money {
    align-self: center;
    font-size: 1.5rem;
    color: $yellow-color;
    padding-bottom: 1rem; 
    font-weight: 900;
  }

}