.stock {

  &__block {
    position: relative;
    width: 25%;
  }

  &__counter {
    transform: translateX(10%);
    width: 80%;
    position: absolute;
    top: 15%;
  }

  &__drop {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 20%;
    top: 20%;
    width: 10%;
  }

  &__income {
    color: $white;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 100%;
  }
}